In [1]:
import pandas as pd
import numpy as np

# E.Coli Data

In [2]:
df = pd.read_excel('C:/Users/Administrador/OneDrive/Ambiente de Trabalho/Article_Organize_Data/combined_df_micro.xlsx')
df

,No Amostra,Data colheita,Zona de_x000D_produção,Local,Espécie,E. coli (NMP/100 g),O conteúdo deste documento é protegido por Direitos de Autor e Direitos Conexos e Direitos de,No_x000D_Amostra,Data entrada,Data início_x000D_ensaio,...,187,13‐11‐2013,13‐11‐2013.1,13‐11‐2013.2,TAV1,Lacem,Amêijoa‐boa,490,2013,E. coli_x000D_(NMP/10
0,256 /20,06/04/20,ETJ,Ponta dos Corvos,Amêijoa-japonesa,13000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,257 /20,06/04/20,ETJ,Ponta dos Corvos,Berbigão,2300,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,259 /20,06/04/20,LAL,Jangada,Mexilhão,<18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,260 /20,06/04/20,LAL,Lagoa,Berbigão,20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,272 /20,14/04/20,LOB,Greijau,Amêijoa-macha,45,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9404,430/2019,24/09/2019,L7b,Sagres,Ostra-gigante/japonesa,230,NaN,NaN,24/09/2019,24/09/2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9405,431/2019,30/09/2019,OLH2,Fortaleza,Amêijoa-boa,92,NaN,NaN,30/09/2019,30/09/2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9406,432/2019,30/09/2019,OLH2,Fortaleza,Ostra-gigante/japonesa,<18,NaN,NaN,30/09/2019,30/09/2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9407,433/2019,30/09/2019,OLH2,Forlaleza - Cabeço da Barrinha,Amêijoa-boa,110,NaN,NaN,30/09/2019,30/09/2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9408,434/2019,30/09/2019,OLH2,Forlaleza - Cabeço da Barrinha,Ostra-gigante/japonesa,45,NaN,NaN,30/09/2019,30/09/2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

__Missing Values__

In [3]:
df.isnull().sum() /df.shape[0]*100

No  Amostra                 0.010628
Data colheita               0.000000
Zona de_x000D_produção      0.000000
Local                       0.138166
Espécie                     0.010628
                             ...
Lacem                     100.000000
Amêijoa‐boa               100.000000
490                       100.000000
2013                       99.755553
E. coli_x000D_(NMP/10     100.000000
Length: 104, dtype: float64

_No Amostra_

In [4]:
df[df['No  Amostra'].isnull()]

,No Amostra,Data colheita,Zona de_x000D_produção,Local,Espécie,E. coli (NMP/100 g),O conteúdo deste documento é protegido por Direitos de Autor e Direitos Conexos e Direitos de,No_x000D_Amostra,Data entrada,Data início_x000D_ensaio,...,187,13‐11‐2013,13‐11‐2013.1,13‐11‐2013.2,TAV1,Lacem,Amêijoa‐boa,490,2013,E. coli_x000D_(NMP/10
6443,NaN,ensaio,produção,NaN,NaN,(NMP/100g),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Remove missing values in the 'No  Amostra' column
df.drop(df[df['No  Amostra'].isnull()].index,inplace=True)

_E. coli (NMP/100 g)_

In [6]:
# Missing values on the 'E. coli  (NMP/100 g)' column
df['E. coli  (NMP/100 g)'].isnull().sum()

0

__Rename Some Columns__

In [7]:
df.columns

Index(['No  Amostra', 'Data colheita', 'Zona de_x000D_produção', 'Local',
       'Espécie', 'E. coli  (NMP/100 g)',
       'O conteúdo deste documento é protegido por Direitos de Autor e Direitos Conexos e Direitos de',
       'No_x000D_Amostra', 'Data entrada', 'Data início_x000D_ensaio',
       ...
       '187', '13‐11‐2013', '13‐11‐2013.1', '13‐11‐2013.2', 'TAV1', 'Lacem',
       'Amêijoa‐boa', '490', '2013', 'E. coli_x000D_(NMP/10'],
      dtype='object', length=104)

In [8]:
df.rename(columns={'No  Amostra':'No Amostra',
                   'Data colheita':'Data de Colheita',
                  'Zona de_x000D_produção': 'Zona de Produção',
                  'E. coli  (NMP/100 g)':'E.coli (NMP/100G)'},inplace=True)

__Get Just The 'Important' Columns for the Study__

In [9]:
df_micro = df[['No Amostra','Data de Colheita','Zona de Produção','Local','Espécie','E.coli (NMP/100G)']]
df_micro

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
0,256 /20,06/04/20,ETJ,Ponta dos Corvos,Amêijoa-japonesa,13000
1,257 /20,06/04/20,ETJ,Ponta dos Corvos,Berbigão,2300
2,259 /20,06/04/20,LAL,Jangada,Mexilhão,<18
3,260 /20,06/04/20,LAL,Lagoa,Berbigão,20
4,272 /20,14/04/20,LOB,Greijau,Amêijoa-macha,45
...,...,...,...,...,...,...
9404,430/2019,24/09/2019,L7b,Sagres,Ostra-gigante/japonesa,230
9405,431/2019,30/09/2019,OLH2,Fortaleza,Amêijoa-boa,92
9406,432/2019,30/09/2019,OLH2,Fortaleza,Ostra-gigante/japonesa,<18
9407,433/2019,30/09/2019,OLH2,Forlaleza - Cabeço da Barrinha,Amêijoa-boa,110
9408,434/2019,30/09/2019,OLH2,Forlaleza - Cabeço da Barrinha,Ostra-gigante/japonesa,45

In [10]:
# Missing values
df_micro.isnull().sum() / df.shape[0] * 100

No Amostra           0.000000
Data de Colheita     0.000000
Zona de Produção     0.000000
Local                0.127551
Espécie              0.000000
E.coli (NMP/100G)    0.000000
dtype: float64

## Espécie

In [11]:
counts = df_micro['Espécie'].value_counts()
counts

Amêijoa-boa               1567
Mexilhão                  1267
Berbigão                  1107
Ostra-japonesa/gigante    1046
Amêijoa-branca             541
                          ...
Pé-de-Burro                  1
Pé de burrico                1
Amêija-macha                 1
Longuerão                    1
Ostra45                      1
Name: Espécie, Length: 66, dtype: int64

In [12]:
# Values with less then 20 counts
counts[counts <= 20]

Pé-de-burrico                      20
Zamburinha                         18
Vieira                             16
Leque                              15
Amêijoa-Boa                        15
Berbigão-lustroso                   7
Amêijoa‐boa                         5
Navalha                             5
ameijoa japonesa                    4
Amêijoa‐branca                      3
Amêijoa                             3
Mexihão                             2
Amêjoa-asiática                     2
Amêijoa-_x000D_japonesa             2
Ostra-gigas                         2
Amêijoa‐asiática                    2
Amêijoa-relogio                     2
Amêijoa-japones                     2
Ostra-Portuguesa                    2
Ostra-japonesa /gigante             1
am. Asiática                        1
mexilhão                            1
Amêijoa-janponesa                   1
Ameijoa-boa                         1
Ameijoa-japonesa                    1
Vieira (Pecten maximus)             1
5400                                1
3500                                1
Amêjoa-japonesa                     1
Ouriço                              1
<18                                 1
460                                 1
Telina                              1
Zamburinha (Mimachlamys varia )     1
Leque (Aequipecten opercularis)     1
Pé-de-Burro                         1
Pé de burrico                       1
Amêija-macha                        1
Longuerão                           1
Ostra45                             1
Name: Espécie, dtype: int64

_Remove Every Spaces_

In [13]:
df_micro['Espécie'] = df_micro['Espécie'].str.replace(' ','')

C:\Users\Administrador\AppData\Local\Temp\ipykernel_13824\2549000272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_micro['Espécie'] = df_micro['Espécie'].str.replace(' ','')

_Remove Species that aren´t bivalves_
 * Lapa, Ouriço-do-mar, Burrié, Búzio, Buzinas, Canilha, Buzina, Zamburinha 
 * Cerastoderme edule = Berbigão
 * Callista chione = Amêijola
 * Scrobicularia plana = Lambujinha
 * Mytilus edulis = Mexilhão
 * Crassostrea angulata = Ostra-portuguesa
 * Leque = Vieira
 * Navalha = Longueirão
 * Longueirão-direito = Longueirão
 * Catanhola = Amêijola
 * Telina = Amêijola

In [14]:
ñ_bivalve = df_micro[(df_micro['Espécie']=='Lapa') |
        (df_micro['Espécie']=='Ouriço-do-mar') |
        (df_micro['Espécie']=='Burrié') |
        (df_micro['Espécie']=='Búzio') |
        (df_micro['Espécie']=='Buzinas') |
        (df_micro['Espécie']=='Canilha') |
        (df_micro['Espécie']=='Buzina') |
        (df_micro['Espécie']=='Zamburinha')| 
        (df_micro['Espécie']=='Ouriço') |
        (df_micro['Espécie']=='Zamburinha(Mimachlamysvaria)')]

df_micro = df_micro.drop(ñ_bivalve.index)

_Mexilhão_

In [15]:
df_micro.loc[df_micro['Espécie'].isin(['mexilhão',
                                      'Mexihão']),'Espécie'] = 'Mexilhão'

_Amêijoa-boa_

In [16]:
df_micro.loc[df_micro['Espécie'].isin(['Ameijoa-boa',
                                      'Amêijoa‐boa',
                                      'Amêijoa-Boa',
                                      'AmeijoaBoa']),'Espécie'] = 'Amêijoa-boa'

_Amêijoa-japonesa_

In [17]:
df_micro.loc[df_micro['Espécie'].isin(['Amêjoa-japonesa',
                                      'Ameijoa-japonesa',
                                      'Amêijoa-_x000D_japonesa',
                                      'Amêijoa‐asiática',
                                      'Amêjoa-asiática',
                                      'Amêijoa-japones',
                                      'ameijoajaponesa',
                                      'Amêijoa-asiática',
                                      'am.Asiática',
                                      'Amêijoa-janponesa']),'Espécie'] = 'Amêijoa-japonesa'

_Ostra-japonesa_

In [18]:
df_micro.loc[df_micro['Espécie'].isin(['Ostra-gigas',
                                  'Ostra-japonesa',
                                  'Ostra-gigante',
                                  'Ostra-gigante/japonesa',
                                  'Ostra-japonesa/gigante']),'Espécie'] = 'Ostra-japonesa'

_Ostra_

In [19]:
# Let´s take a look to the 'Espécie' = 'Ostra45'
df_micro[df_micro['Espécie']=='Ostra45']

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
9029,14301,14/9/2015,RIAV3,Ilha dos Puxadoiros,Ostra45,2015

In [20]:
df_micro[df_micro['E.coli (NMP/100G)']=='2015']

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
9029,14301,14/9/2015,RIAV3,Ilha dos Puxadoiros,Ostra45,2015

In [21]:
# Replace 215 to 45
df_micro['E.coli (NMP/100G)'] = df_micro['E.coli (NMP/100G)'].str.replace('2015', '45')

In [22]:
df_micro.loc[df_micro['Espécie'].isin(['Ostra',
                                      'Ostra45']),'Espécie'] = 'Ostra'

_Ostra-portuguesa_

In [23]:
df_micro.loc[df_micro['Espécie'].isin(['Ostra-Portuguesa']),'Espécie'] = 'Ostra-portuguesa'

_Vieira_

In [24]:
df_micro.loc[df_micro['Espécie'].isin(['Leque(Aequipectenopercularis)',
                                      'Vieira(Pectenmaximus)',
                                      'Leque']),'Espécie'] = 'Vieira'

_Longueirão_

In [25]:
df_micro.loc[df_micro['Espécie'].isin(['Longuerão',
                                      'Navalha',
                                      'Longueirão-direito']),'Espécie'] = 'Longueirão'

_Amêijola_

In [26]:
df_micro.loc[df_micro['Espécie'].isin(['Telina',
                                      'Castanhola',
                                      'Ameijola']),'Espécie'] = 'Amêijola'

_Berbigão_

In [27]:
df_micro.loc[df_micro['Espécie'].isin(['Berbigão-lustroso'])] = 'Berbigão'

_Pé-de-burro_

In [28]:
df_micro['Espécie'] = df_micro['Espécie'].str.replace('Pé-de-Burro','Pé-de-burro')

_Pé-de-burrico_

In [29]:
df_micro['Espécie'] = df_micro['Espécie'].str.replace('Pédeburrico','Pé-de-burrico')

_Amêijoa-branca_

In [30]:
df_micro['Espécie'] = df_micro['Espécie'].str.replace('Amêijoa‐branca','Amêijoa-branca')

_Amêijoa-relógio_

In [31]:
df_micro['Espécie'] = df_micro['Espécie'].str.replace('Amêijoa-relogio','Amêijoa-relógio')

_Amêijoa-macha_

In [32]:
df_micro['Espécie'] = df_micro['Espécie'].str.replace('Amêija-macha','Amêijoa-macha')

_460_

In [33]:
df_micro[df_micro['Espécie']=='460']

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
4776,16247,13/12/2016,Corte das Freiras,L0258,460,2016

In [34]:
# Replace 2016 by 460

# First, let's create a boolean mask to filter rows where 'Espécie' is '460'
mask_esp_460 = df_micro['Espécie'] == '460'

# Convert the 'E.coli (NMP/100G)' column to a string
df_micro['E.coli (NMP/100G)'] = df_micro['E.coli (NMP/100G)'].astype(str)

# Next, use loc to access the rows where 'Espécie' is '460' and update the 'E.coli (NMP/100G)' column
df_micro.loc[mask_esp_460, 'E.coli (NMP/100G)'] = df_micro.loc[mask_esp_460, 'E.coli (NMP/100G)'].str.replace('2016', '460')

In [35]:
# Replace 460 at the 'Espécie' column by Ostra-japonesa
df_micro['Espécie'] = df_micro['Espécie'].str.replace('460','Ostra-japonesa')

In [36]:
df_micro.isnull().sum()

No Amostra            0
Data de Colheita      0
Zona de Produção      0
Local                12
Espécie               0
E.coli (NMP/100G)     0
dtype: int64

<18

In [37]:
df_micro[df_micro['Espécie']=='<18']

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
5875,12797,29-07-2014,L6,L0258,<18,2014

In [38]:
# Replace 2014 by <18

# First, let's create a boolean mask to filter rows where 'Espécie' is '460'
mask_esp_18 = df_micro['Espécie'] == '<18'

# Next, use loc to access the rows where 'Espécie' is '<18' and update the 'E.coli (NMP/100G)' column
df_micro.loc[mask_esp_18, 'E.coli (NMP/100G)'] = df_micro.loc[mask_esp_18, 'E.coli (NMP/100G)'].str.replace('2014', '<18')

In [39]:
# Replace <18 at the 'Espécie' column by Amêijoa-branca
df_micro['Espécie'] = df_micro['Espécie'].str.replace('<18','Amêijoa-branca')

In [40]:
df_micro.isnull().sum()

No Amostra            0
Data de Colheita      0
Zona de Produção      0
Local                12
Espécie               0
E.coli (NMP/100G)     0
dtype: int64

_3500_

In [41]:
df_micro[df_micro['Espécie']=='3500']

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
7065,1537411-05-2016,11-05-2016,Aguda,L0258,3500,2016

In [42]:
# Replace 2016 by 3500

# First, let's create a boolean mask to filter rows where 'Espécie' is '460'
mask_esp_3500 = df_micro['Espécie'] == '3500'

# Next, use loc to access the rows where 'Espécie' is '<18' and update the 'E.coli (NMP/100G)' column
df_micro.loc[mask_esp_3500, 'E.coli (NMP/100G)'] = df_micro.loc[mask_esp_3500, 'E.coli (NMP/100G)'].str.replace('2016', '<3500')

# Replcae the 'No Amostra' to the correct one
df_micro.loc[mask_esp_3500, 'No Amostra'] = df_micro.loc[mask_esp_3500, 'No Amostra'].str.replace('1537411-05-2016', '15374')

In [43]:
# Replace 3500 at the 'Espécie' column by Amêijoa-branca
df_micro['Espécie'] = df_micro['Espécie'].str.replace('3500','Amêijoa-branca')

In [44]:
df_micro.isnull().sum()

No Amostra            0
Data de Colheita      0
Zona de Produção      0
Local                12
Espécie               0
E.coli (NMP/100G)     0
dtype: int64

_5400_

In [45]:
df_micro[df_micro['Espécie']=='5400']

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
7067,1537610-05-2016,11-05-2016,Labruje,L0258,5400,2016

In [46]:
# Replace 2016 by 3500

# First, let's create a boolean mask to filter rows where 'Espécie' is '460'
mask_esp_5400 = df_micro['Espécie'] == '5400'

# Next, use loc to access the rows where 'Espécie' is '<18' and update the 'E.coli (NMP/100G)' column
df_micro.loc[mask_esp_5400, 'E.coli (NMP/100G)'] = df_micro.loc[mask_esp_5400, 'E.coli (NMP/100G)'].str.replace('2016', '5400')

# Replcae the 'No Amostra' to the correct one
df_micro.loc[mask_esp_5400, 'No Amostra'] = df_micro.loc[mask_esp_5400, 'No Amostra'].str.replace('1537610-05-2016', '15376')

In [47]:
# Replace 5400 at the 'Espécie' column by Amêijoa-branca
df_micro['Espécie'] = df_micro['Espécie'].str.replace('5400','Amêijoa-branca')

In [48]:
df_micro.isnull().sum()

No Amostra            0
Data de Colheita      0
Zona de Produção      0
Local                12
Espécie               0
E.coli (NMP/100G)     0
dtype: int64

## Zona de Produção

In [49]:
counts_zona = df_micro['Zona de Produção'].value_counts()
counts_zona

LOB          504
ESD1         426
L6           406
RIAV1        399
RIAV2        394
            ...
Riav3          1
VRSA/Tav1      1
Aguda          1
Labruje        1
EDS1           1
Name: Zona de Produção, Length: 72, dtype: int64

_Remove Every Spaces from 'Zona de Produção' Column_

In [50]:
df_micro['Zona de Produção'] = df_micro['Zona de Produção'].str.replace(' ','')

_ETJ_

In [51]:
df_micro[df_micro['Zona de Produção'].str.contains('ETJ')]['Zona de Produção'].value_counts()

ETJ     262
ETJ1     97
ETJ2     30
Name: Zona de Produção, dtype: int64

In [52]:
# Function to search for zona de produção
def search_zona(zona):
    search = df_micro[df_micro['Zona de Produção'].str.contains(zona)]['Zona de Produção'].value_counts()
    return search

In [53]:
search_zona('ETJ')

ETJ     262
ETJ1     97
ETJ2     30
Name: Zona de Produção, dtype: int64

In [54]:
# Replcae ETJ1 and ETJ2 by ETJ
df_micro.loc[df_micro['Zona de Produção'].isin(['ETJ1',
                                               'ETJ2']),'Zona de Produção'] = 'ETJ'

_LOB_

In [55]:
search_zona('LOB')

LOB    504
Name: Zona de Produção, dtype: int64

_ESD_

In [56]:
search_zona('ESD')

ESD1    426
ESD2    336
Name: Zona de Produção, dtype: int64

In [57]:
# Replace ESD1 and ESD2 by ESD
df_micro.loc[df_micro['Zona de Produção'].isin(['ESD1',
                                               'ESD2',
                                               'EDS1']),'Zona de Produção'] = 'ESD'

_EMN_

In [58]:
search_zona('EMN')

EMN2      95
EMNNZ     70
EMN1      62
EMN       38
EMN-NZ     5
Name: Zona de Produção, dtype: int64

In [59]:
df_micro.loc[df_micro['Zona de Produção'].isin(['EMN2',
                                               'EMNNZ',
                                               'EMN1',
                                               'EMN1',
                                               'EMN-NZ']),'Zona de Produção'] = 'EMN'

_EMR_

In [60]:
search_zona('EMN')

EMN    270
Name: Zona de Produção, dtype: int64

_L - Litoral_

In [61]:
search_zona('L1')

L1    198
Name: Zona de Produção, dtype: int64

In [62]:
search_zona('L2')

L2    209
Name: Zona de Produção, dtype: int64

In [63]:
search_zona('L3')

L3    136
Name: Zona de Produção, dtype: int64

In [64]:
search_zona('L4')

L4    121
Name: Zona de Produção, dtype: int64

In [65]:
search_zona('L5')

L5b    139
L5     104
L5a     60
Name: Zona de Produção, dtype: int64

In [66]:
df_micro.loc[df_micro['Zona de Produção'].isin(['L5b',
                                               'L5a']),'Zona de Produção'] = 'L5'

In [67]:
search_zona('L6')

L6    406
Name: Zona de Produção, dtype: int64

In [68]:
search_zona('L7')

L7c2    185
L7a     117
L7c      82
L7b      64
L7c1     56
L7C2      6
L7        5
Name: Zona de Produção, dtype: int64

In [69]:
# Search the 'Local' from 'zona de produção' = 'L7' to find out wich zone belongs
df_micro[df_micro['Zona de Produção']=='L7']['Local'].value_counts()

Praia da Arrifana    2
Porto de Mós         2
Sagres               1
Name: Local, dtype: int64

In [70]:
df_micro[df_micro['Zona de Produção']=='L7a']['Local'].value_counts()

Aljezur               45
Aljezur - Amoreira    20
Praia da Amoreira     15
Porto de Mós          12
Praia da Arrifana     10
Amoreira               5
Aljezur - Bordeira     3
Aljezur - Odeceixe     3
Praia de Amoreira      3
Praia Amoreira         1
Name: Local, dtype: int64

In [71]:
df_micro[df_micro['Zona de Produção']=='L7c2']['Local'].value_counts()

Porto de Mós - Cultura    68
Offshore MS1              61
Albufeira                 39
MS1                        8
Porto de Mós               7
Offshore  MS1              1
Cultura                    1
Name: Local, dtype: int64

In [72]:
df_micro[df_micro['Zona de Produção']=='L7c1']['Local'].value_counts()

Offshore           46
Ponta do Zavial    10
Name: Local, dtype: int64

In [73]:
df_micro[df_micro['Zona de Produção']=='L7b']['Local'].value_counts()

Sagres              42
Cultura             12
Sagres - Cultura     6
Sagres, Cultura      3
Sagres-Cultura       1
Name: Local, dtype: int64

In [74]:
# L7 with Local  = 'Praia da Arrifana' is L7a

# First, let's create a boolean mask to filter rows where 'Zona de Produção' is 'L7' and 'Local' is 'Praia da Arrifana'
mask_l7_arrifana = (df_micro['Zona de Produção'] == 'L7') & (df_micro['Local'] == 'Praia da Arrifana')

# Next, use loc to access the rows that meet the condition and update the 'Zona de produção' column
df_micro.loc[mask_l7_arrifana, 'Zona de Produção'] = df_micro.loc[mask_l7_arrifana, 'Zona de Produção'].str.replace('L7', 'L7a')

In [75]:
# L7 with Local  = 'Sagres' is L7b

# First, let's create a boolean mask to filter rows where 'Zona de Produção' is 'L7' and 'Local' is 'Sagres'
mask_l7_sagres = (df_micro['Zona de Produção'] == 'L7') & (df_micro['Local'] == 'Sagres')

# Next, use loc to access the rows that meet the condition and update the 'Zona de produção' column
df_micro.loc[mask_l7_sagres, 'Zona de Produção'] = df_micro.loc[mask_l7_sagres, 'Zona de Produção'].str.replace('L7', 'L7b')

In [76]:
# L7 with Local  = 'Porto de Mós' is L7c2

# First, let's create a boolean mask to filter rows where 'Zona de Produção' is 'L7' and 'Local' is 'Porto de Mós'
mask_l7_mos = (df_micro['Zona de Produção'] == 'L7') & (df_micro['Local'] == 'Porto de Mós')

# Next, use loc to access the rows that meet the condition and update the 'Zona de produção' column
df_micro.loc[mask_l7_mos, 'Zona de Produção'] = df_micro.loc[mask_l7_mos, 'Zona de Produção'].str.replace('L7', 'L7c2')

In [77]:
# L7c2
df_micro['Zona de Produção'] = df_micro['Zona de Produção'].str.replace('L7C2','L7c2')

In [78]:
# Search the 'Local' from 'zona de produção' = 'L7c' to find out wich zone belongs
df_micro[df_micro['Zona de Produção']=='L7c']['Local'].value_counts()

Porto de Mós              30
Offshore                  27
Porto de Mós - Cultura    16
Jaulas Offshore            2
Albufeira                  2
Lagos, Porto de Mós        1
Lagos/Porto de Mós         1
Sagres                     1
Cultura                    1
Ponta do Zavial            1
Name: Local, dtype: int64

In [79]:
# Search the 'Local' from 'zona de produção' = 'L7c1'
df_micro[df_micro['Zona de Produção']=='L7c1']['Local'].value_counts()

Offshore           46
Ponta do Zavial    10
Name: Local, dtype: int64

In [80]:
# Search the 'Local' from 'zona de produção' = 'L7c2'
df_micro[df_micro['Zona de Produção']=='L7c2']['Local'].value_counts()

Porto de Mós - Cultura    68
Offshore MS1              61
Albufeira                 39
Porto de Mós               9
MS1                        8
Meia-praia                 3
Praia dos Tomates          3
Offshore  MS1              1
Cultura                    1
Name: Local, dtype: int64

In [81]:
df_micro.loc[df_micro['Zona de Produção'].isin(['L7c']),'Zona de Produção'] = 'L7c2'

_RIAV_

In [82]:
search_zona('RIAV')

RIAV1     401
RIAV2     396
RIAV3     354
RIAV4     347
RIAVNZ     23
Name: Zona de Produção, dtype: int64

In [83]:
# RIAV NZ doesn´t exist anymore therefore let´s examine it
df_micro[df_micro['Zona de Produção']=='RIAVNZ']

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
113,366 /21,13/04/2021,RIAVNZ,Bolho da Malhada,Ostra-japonesa,330
381,625/20,17/08/2020,RIAVNZ,Bolho da Malhada,Ostra-japonesa,170
818,1240/21,20/12/2021,RIAVNZ,Bolho da Malhada,Ostra-japonesa,<18
966,112 /21,02/02/2021,RIAVNZ,Bolho da Malhada,Ostra-japonesa,7900
1348,16 /21,05/01/2021,RIAVNZ,Bolho da Malhada,Ostra-japonesa,2200
1377,68 /21,19/01/2021,RIAVNZ,Bolho da Malhada,Ostra-japonesa,3300
1928,539 /21,21/06/2021,RIAVNZ,Bolho da Malhada,Ostra-japonesa,<18
2307,487 /21,25/05/2021,RIAVNZ,Bolho da Malhada,Ostra-japonesa,45
2652,199 /21,02/03/2021,RIAVNZ,Bolho da Malhada,Ostra-japonesa,1300
2689,278 /21,16/03/2021,RIAVNZ,Bolho da Malhada,Ostra-japonesa,130
2703,313 /21,29/03/2021,RIAVNZ,Bolho da Malhada,Ostra-japonesa,130
2966,1240 /20,02/11/2020,RIAVNZ,Bolho da Malhada,Ostra-japonesa,490
3229,915 /20,06/10/2020,RIAVNZ,Bolho da Malhada,Ostra-japonesa,45
3472,686 /20,01/09/2020,RIAVNZ,Bolho da Malhada,Ostra-japonesa,20
3507,868 /20,22/09/2020,RIAVNZ,Bolho da Malhada,Ostra-japonesa,230
4470,18230,31/7/2018,RIAVNZ,Norte da Vista Alegre,Amêijoa-japonesa,4600
4471,18231,31/7/2018,RIAVNZ,Norte da Vista Alegre,Berbigão,1300
6248,18230,31/7/2018,RIAVNZ,Norte da Vista Alegre,Amêijoa-japonesa,4600
6249,18231,31/7/2018,RIAVNZ,Norte da Vista Alegre,Berbigão,1300
6715,17990,5/6/2018,RIAVNZ,Norte da Vista Alegre,Berbigão,13000
6716,17991,5/6/2018,RIAVNZ,Norte da Vista Alegre,Amêijoa-japonesa,13000
6776,18082,26/6/2018,RIAVNZ,Norte da Vista Alegre,Berbigão,7900
6777,18083,26/6/2018,RIAVNZ,Norte da Vista Alegre,Amêijoa-japonesa,17000

In [84]:
df_micro[(df_micro['Local']=='Bolho da Malhada') |
        (df_micro['Local']=='Norte da Vista Alegre')]['Zona de Produção'].value_counts()

RIAVNZ    23
RIAV4      2
Name: Zona de Produção, dtype: int64

In [85]:
# RIAV NZ is the Same as RIAV 4
df_micro['Zona de Produção'] = df_micro['Zona de Produção'].str.replace('RIAVNZ','RIAV4')

In [86]:
df_micro['Zona de Produção'] = df_micro['Zona de Produção'].str.replace('Riav3','RIAV3')

In [87]:
df_micro['Zona de Produção'] = df_micro['Zona de Produção'].str.replace('RAIV4','RIAV4')

In [88]:
df_micro['Zona de Produção'] = df_micro['Zona de Produção'].str.replace('RAIV1','RIAV1')

_OLH_

In [89]:
search_zona('OLH')

OLH2      278
OLH5      244
OLH4      235
OLH3      220
OLH1      179
OLHZNV      1
Name: Zona de Produção, dtype: int64

In [90]:
# OLHZNV doesn´t exist so let´s remove it 
olhznv = df_micro[df_micro['Zona de Produção']=='OLHZNV']

df_micro.drop(olhznv.index,inplace=True)

_FAR_

In [91]:
search_zona('FAR')

FAR2      235
FAR1      167
FARZNV      6
Name: Zona de Produção, dtype: int64

In [92]:
df_micro[df_micro['Zona de Produção']=='FARZNV']['Local'].value_counts()

Barrinha    2
Geada       2
Deserta     2
Name: Local, dtype: int64

In [93]:
df_micro[df_micro['Zona de Produção']=='FAR2']['Local'].value_counts()

Largura                                    192
Largura 2                                   18
Largura 3                                   10
Largura 1                                    8
Largura - Esteiro do Ramalhete               2
Largura - Regato dos Azeites - Barrinha      2
Largura - Cabeço da Barra                    2
Barrinha                                     1
Name: Local, dtype: int64

In [94]:
df_micro[df_micro['Zona de Produção']=='FAR1']['Local'].value_counts()

Marchil            151
Marchil 1            9
Marchil 2            3
Largura              2
Geada                1
Canal do Ladrão      1
Name: Local, dtype: int64

In [95]:
# We don´t known which zona de produção the 'FARZNV' belongs therefore let´s remove it
farznv = df_micro[df_micro['Zona de Produção']=='FARZNV']

df_micro.drop(farznv.index,inplace=True)

_POR_

In [96]:
search_zona('POR')

POR2    226
POR3     53
POR1      3
Name: Zona de Produção, dtype: int64

In [97]:
# POR1 doesn´t exist anymore
df_micro[df_micro['Zona de Produção']=='POR1']['Local'].value_counts()

Rio Arade                                   2
Rio Arade - Montante da_x000D_Ponte Nova    1
Name: Local, dtype: int64

In [98]:
# POR1 is POR3
df_micro['Zona de Produção'] = df_micro['Zona de Produção'].str.replace('POR1','POR3')

_VT_

In [99]:
search_zona('VT')

VT     33
VT1    33
Name: Zona de Produção, dtype: int64

In [100]:
df_micro.loc[df_micro['Zona de Produção'].isin(['VT1']),'Zona de Produção'] = 'VT'

_LAG_

In [101]:
search_zona('LAG')

LAG     201
LAG1     15
Name: Zona de Produção, dtype: int64

In [102]:
df_micro.loc[df_micro['Zona de Produção'].isin(['LAG1']),'Zona de Produção'] = 'LAG'

_FUZ_

In [103]:
search_zona('FUZ')

FUZ     144
FUZ1     85
Name: Zona de Produção, dtype: int64

In [104]:
df_micro.loc[df_micro['Zona de Produção'].isin(['FUZ1']),'Zona de Produção'] = 'FUZ'

_TAV_

In [105]:
search_zona('TAV')

TAV     205
TAV2     87
TAV1     13
Name: Zona de Produção, dtype: int64

In [106]:
df_micro.loc[df_micro['Zona de Produção'].isin(['TAV2',
                                               'TAV1']),'Zona de Produção'] = 'TAV'

_Zonas de Produção With Values less then 10 counts_

In [107]:
counts_zona[counts_zona <10]

Berbigão             7
L7C2                 6
FAR ZNV              6
L7                   5
EMN-NZ               5
POR1                 3
RIAV 1               2
RIAV 2               2
RIAV 3               2
RAIV4                2
RAIV1                1
OLH ZNV              1
Corte das Freiras    1
ERM                  1
Riav3                1
VRSA/Tav1            1
Aguda                1
Labruje              1
EDS1                 1
Name: Zona de Produção, dtype: int64

In [108]:
# Berbigão
berg_zona = df_micro[df_micro['Zona de Produção']=='Berbigão']
berg_zona

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
445,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão
981,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão
1448,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão
2012,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão
2099,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão
2151,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão
3086,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão,Berbigão

In [109]:
df_micro.drop(berg_zona.index,inplace=True)

In [110]:
# CortedasFreiras
df_micro[df_micro['Zona de Produção']=='CortedasFreiras']

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
4776,16247,13/12/2016,CortedasFreiras,L0258,Ostra-japonesa,460

In [111]:
mask_cortes = (df_micro['Zona de Produção'] == 'CortedasFreiras')

df_micro.loc[mask_cortes, 'Zona de Produção'] = df_micro.loc[mask_cortes, 'Zona de Produção'].str.replace('CortedasFreiras', 'RIAV4')

In [112]:
# ERM
df_micro['Zona de Produção'] = df_micro['Zona de Produção'].str.replace('ERM','EMR')

In [113]:
# VRSA/Tav1
df_micro['Zona de Produção'] = df_micro['Zona de Produção'].str.replace('VRSA/Tav1','TAV')

In [114]:
# Aguda
df_micro[df_micro['Zona de Produção']=='Aguda']

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
7065,15374,11-05-2016,Aguda,L0258,Amêijoa-branca,<3500

In [115]:
df_micro['Zona de Produção'] = df_micro['Zona de Produção'].str.replace('Aguda','L2')

In [116]:
# Labruje
df_micro[df_micro['Zona de Produção']=='Labruje']

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
7067,15376,11-05-2016,Labruje,L0258,Amêijoa-branca,5400

In [117]:
df_micro['Zona de Produção'] = df_micro['Zona de Produção'].str.replace('Labruje','L2')

## Dealing with LQ Values

In [118]:
df_micro.isnull().sum()

No Amostra            0
Data de Colheita      0
Zona de Produção      0
Local                12
Espécie               0
E.coli (NMP/100G)     0
dtype: int64

In [119]:
df_micro[(df_micro['E.coli (NMP/100G)'].str.contains('<'))|
        (df_micro['E.coli (NMP/100G)'].str.contains('LQ'))]['E.coli (NMP/100G)'].value_counts()

<18      1191
< 18      478
<20        52
< 20       16
<3500       1
Name: E.coli (NMP/100G), dtype: int64

In [120]:
# Let´s take a look to the '<3500' value
df_micro[df_micro['E.coli (NMP/100G)']=='<3500']

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
7065,15374,11-05-2016,L2,L0258,Amêijoa-branca,<3500

In [121]:
# Remove '<' from '<3500'

mask = (df_micro['E.coli (NMP/100G)'] == '<3500')

df_micro.loc[mask, 'E.coli (NMP/100G)'] = df_micro.loc[mask, 'E.coli (NMP/100G)'].str.replace('<3500', '3500')

In [122]:
# Replace every values with '<' symbol by 17
lq = df_micro[(df_micro['E.coli (NMP/100G)'].str.contains('<'))|
        (df_micro['E.coli (NMP/100G)'].str.contains('LQ'))]

lq

,No Amostra,Data de Colheita,Zona de Produção,Local,Espécie,E.coli (NMP/100G)
2,259 /20,06/04/20,LAL,Jangada,Mexilhão,<18
5,273 /20,14/04/20,LOB,Greijau,Amêijoa-japonesa,<18
12,280 /20,14/04/20,L6,Comporta,Amêijoa-branca,<18
18,286 /20,20/04/20,L6,Comporta,Longueirão,<18
19,287 /20,20/04/20,L6,Comporta,Conquilha,<18
...,...,...,...,...,...,...
9393,418/2019,16/9/2019,OLH2,Fortaleza,Ostra-japonesa,<18
9397,422/2019,16/9/2019,L7c1,Offshore,Mexilhão,<18
9398,423/2019,17/9/2019,L7a,Aljezur - Amoreira,Mexilhão,<18
9402,428/2019,24/09/2019,L7c2,Porto de Mós - Cultura,Mexilhão,<18
9406,432/2019,30/09/2019,OLH2,Fortaleza,Ostra-japonesa,<18

In [123]:
df_micro.loc[lq.index,'E.coli (NMP/100G)'] = '17'

In [126]:
df_micro = df_micro[['No Amostra','Data de Colheita','Zona de Produção','Espécie','E.coli (NMP/100G)']]
df_micro

,No Amostra,Data de Colheita,Zona de Produção,Espécie,E.coli (NMP/100G)
0,256 /20,06/04/20,ETJ,Amêijoa-japonesa,13000
1,257 /20,06/04/20,ETJ,Berbigão,2300
2,259 /20,06/04/20,LAL,Mexilhão,17
3,260 /20,06/04/20,LAL,Berbigão,20
4,272 /20,14/04/20,LOB,Amêijoa-macha,45
...,...,...,...,...,...
9404,430/2019,24/09/2019,L7b,Ostra-japonesa,230
9405,431/2019,30/09/2019,OLH2,Amêijoa-boa,92
9406,432/2019,30/09/2019,OLH2,Ostra-japonesa,17
9407,433/2019,30/09/2019,OLH2,Amêijoa-boa,110
9408,434/2019,30/09/2019,OLH2,Ostra-japonesa,45